@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    body {
        @apply text-gray-900 bg-white antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    button {
        @apply bg-transparent border-none cursor-pointer;
    }

    input,
    textarea,
    select {
        font: inherit;
    }
}