@layer base {
    :root {
        --cdr-color-primary: #111827;
        --cdr-color-secondary: #6b7280;

        --cdr-radius-sm: 0.25rem;
        --cdr-radius-md: 0.5rem;
        --cdr-radius-lg: 0.75rem;

        --cdr-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        --cdr-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

        --cdr-transition: all 0.2s ease-in-out;
    }
}